
export PATH=$PWD/bin:$PATH

if [ -f .envrc.local ]; then
  source_env .envrc.local
else
  echo 'ローカル環境設定ファイル .envrc.local を作成してください'
  echo '  $ cp .envrc.local.sample .envrc.local'
  echo '  $ vi .envrc.local'
  echo '  $ direnv reload'
fi