
export PATH=$PWD/bin:$PATH

if [ -f .envrc.local ]; then
  source_env .envrc.local
else
  echo 'Plese create local environment file, .envrc.local '
  echo '  $ cp .envrc.local.sample .envrc.local'
  echo '  $ vi .envrc.local'
  echo '  $ direnv reload'
fi
