= "global\n"
= "    log         127.0.0.1 local2 info\n"
= "    chroot      /var/lib/haproxy\n"
= "    pidfile     /var/run/haproxy.pid\n"
- if Rails.env == 'staging'
  = "    ca-base     /etc/ssl/certs\n"
  = "    crt-base    /etc/ssl/private\n"
= "    maxconn     10000\n"
= "    user        haproxy\n"
= "    group       haproxy\n"
= "    daemon\n"
=
= "defaults\n"
= "    log     global\n"
= "    timeout connect 60s\n"
= "    timeout server 1m\n"
= "    timeout client 1m\n"
= "    timeout check  5s\n"
= "\n"
= "listen stats\n"
= "    bind 0.0.0.0:1919\n"
= "    mode http\n"
= "    stats uri /haproxy-status\n"
= "\n"
= "# web\n"
= "listen fluad-api-view\n"
= "    maxconn 4000\n"
= "    fullconn 4000\n"
- if Rails.env == 'staging'
  ="    bind 0.0.0.0:443 ssl crt certs-key.pem no-sslv3\n"
- else
  = "    bind 0.0.0.0:80\n"
= "    mode http\n"
= "    acl normal hdr_sub(cookie) #{branch}=0\n"
- Rails.application.config.ab_app_host.each_with_index do |app_host, index|
  = "    acl #{branch} hdr_sub(cookie) #{branch}=#{index + 1}\n"
= "    use_backend normal_side if normal\n"
= "    use_backend ab_side if #{branch}\n"
= "    default_backend first_side\n"
= "\n"
= "backend first_side\n"
= "    mode http\n"
= "    cookie #{branch} insert nocache\n"
= "    balance roundrobin\n"
= "    http-send-branch-header X-HOST-branch\n"
= "    fullconn 4000\n"
= "\n"
- Rails.application.config.normal_app_host.each_with_index do |app_host, index|
  = "    server web#{index + 1}-0 #{app_host} weight #{normal_weight}% check cookie 0 inter 1000 fall 2\n"
- Rails.application.config.ab_app_host.each_with_index do |app_host, index|
    = "    server web#{Rails.application.config.normal_app_host.size + 1}-#{index + 1} #{app_host} weight #{ab_weight}% check cookie #{index + 1} inter 1000 fall 2\n"

= "\n"
= "backend normal_side\n"
= "    mode http\n"
= "    balance roundrobin\n"
= "    fullconn 4000\n"
= "\n"
- Rails.application.config.normal_app_host.each_with_index do |app_host, index|
  = "    server web#{index + 1}-0 #{app_host} check inter 1000 fall 2\n"
= "\n"
= "backend ab_side\n"
= "    mode http\n"
= "    cookie #{branch} insert nocache\n"
= "    balance roundrobin\n"
= "    fullconn 4000\n"
= "\n"
- Rails.application.config.normal_app_host.each_with_index do |app_host, index|
  = "    server web#{index + 1}-0 #{app_host} check cookie 0 inter 1000 fall 2\n"
- Rails.application.config.ab_app_host.each_with_index do |app_host, index|
  = "    server web#{Rails.application.config.normal_app_host.size + 1}-#{index + 1} #{app_host} check cookie #{index + 1} inter 1000 fall 2\n"
